<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.automation.qa.test.TestRunner</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>selectSnapShotEnrolment</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fillPrevInsuranceDetail</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ConitnueFromAddDriverPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickAutoButton</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addVehicle</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>startAQuote</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>enterZipCodeAndClick</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fillDriverDetail</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
