<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="869769">  <td>20/02/13 00:16:53</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestRunner.setup()[pri:0, instance:com.automation.qa.test.TestRunner@55f616cf]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@515184459</td>   <td></td> </tr>
<tr bgcolor="869769">  <td>20/02/13 00:16:59</td>   <td>5732</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.clickAutoButton()[pri:0, instance:com.automation.qa.test.TestRunner@55f616cf]">clickAutoButton</td> 
  <td>main@515184459</td>   <td></td> </tr>
<tr bgcolor="869769">  <td>20/02/13 00:17:01</td>   <td>7945</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.enterZipCodeAndClick()[pri:1, instance:com.automation.qa.test.TestRunner@55f616cf]">enterZipCodeAndClick</td> 
  <td>main@515184459</td>   <td></td> </tr>
<tr bgcolor="869769">  <td>20/02/13 00:17:03</td>   <td>10378</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.startAQuote()[pri:2, instance:com.automation.qa.test.TestRunner@55f616cf]">startAQuote</td> 
  <td>main@515184459</td>   <td></td> </tr>
<tr bgcolor="869769">  <td>20/02/13 00:17:15</td>   <td>21732</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.addVehicle()[pri:3, instance:com.automation.qa.test.TestRunner@55f616cf]">addVehicle</td> 
  <td>main@515184459</td>   <td></td> </tr>
<tr bgcolor="869769">  <td>20/02/13 00:17:24</td>   <td>31315</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.fillDriverDetail()[pri:4, instance:com.automation.qa.test.TestRunner@55f616cf]">fillDriverDetail</td> 
  <td>main@515184459</td>   <td></td> </tr>
<tr bgcolor="869769">  <td>20/02/13 00:17:29</td>   <td>36350</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.ConitnueFromAddDriverPage()[pri:5, instance:com.automation.qa.test.TestRunner@55f616cf]">ConitnueFromAddDriverPage</td> 
  <td>main@515184459</td>   <td></td> </tr>
<tr bgcolor="869769">  <td>20/02/13 00:17:32</td>   <td>39370</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.fillPrevInsuranceDetail()[pri:6, instance:com.automation.qa.test.TestRunner@55f616cf]">fillPrevInsuranceDetail</td> 
  <td>main@515184459</td>   <td></td> </tr>
<tr bgcolor="869769">  <td>20/02/13 00:17:36</td>   <td>43387</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.selectSnapShotEnrolment()[pri:7, instance:com.automation.qa.test.TestRunner@55f616cf]">selectSnapShotEnrolment</td> 
  <td>main@515184459</td>   <td></td> </tr>
<tr bgcolor="869769">  <td>20/02/13 00:17:40</td>   <td>47406</td> <td>&nbsp;</td><td title="&lt;&lt;TestRunner.tearDown1()[pri:0, instance:com.automation.qa.test.TestRunner@55f616cf]">&lt;&lt;tearDown1</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@515184459</td>   <td></td> </tr>
</table>
