<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>softwaretestingmaterial</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="869769">  <td>20/02/13 00:01:49</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestRunner.setup()[pri:0, instance:com.automation.qa.test.TestRunner@55f616cf]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@515184459</td>   <td></td> </tr>
<tr bgcolor="869769">  <td>20/02/13 00:01:54</td>   <td>5856</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.clickAutoButton()[pri:0, instance:com.automation.qa.test.TestRunner@55f616cf]">clickAutoButton</td> 
  <td>main@515184459</td>   <td></td> </tr>
<tr bgcolor="869769">  <td>20/02/13 00:01:57</td>   <td>8002</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.enterZipCodeAndClick()[pri:1, instance:com.automation.qa.test.TestRunner@55f616cf]">enterZipCodeAndClick</td> 
  <td>main@515184459</td>   <td></td> </tr>
<tr bgcolor="869769">  <td>20/02/13 00:01:59</td>   <td>10360</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.startAQuote()[pri:2, instance:com.automation.qa.test.TestRunner@55f616cf]">startAQuote</td> 
  <td>main@515184459</td>   <td></td> </tr>
<tr bgcolor="869769">  <td>20/02/13 00:02:07</td>   <td>18537</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.addVehicle()[pri:3, instance:com.automation.qa.test.TestRunner@55f616cf]">addVehicle</td> 
  <td>main@515184459</td>   <td></td> </tr>
<tr bgcolor="869769">  <td>20/02/13 00:02:20</td>   <td>31583</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.fillDriverDetail()[pri:4, instance:com.automation.qa.test.TestRunner@55f616cf]">fillDriverDetail</td> 
  <td>main@515184459</td>   <td></td> </tr>
<tr bgcolor="869769">  <td>20/02/13 00:02:35</td>   <td>46616</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.ConitnueFromAddDriverPage()[pri:5, instance:com.automation.qa.test.TestRunner@55f616cf]">ConitnueFromAddDriverPage</td> 
  <td>main@515184459</td>   <td></td> </tr>
<tr bgcolor="869769">  <td>20/02/13 00:02:48</td>   <td>59655</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.fillPrevInsuranceDetail()[pri:6, instance:com.automation.qa.test.TestRunner@55f616cf]">fillPrevInsuranceDetail</td> 
  <td>main@515184459</td>   <td></td> </tr>
<tr bgcolor="869769">  <td>20/02/13 00:02:58</td>   <td>69298</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.selectSnapShotEnrolment()[pri:7, instance:com.automation.qa.test.TestRunner@55f616cf]">selectSnapShotEnrolment</td> 
  <td>main@515184459</td>   <td></td> </tr>
<tr bgcolor="869769">  <td>20/02/13 00:03:02</td>   <td>73308</td> <td>&nbsp;</td><td title="&lt;&lt;TestRunner.tearDown1()[pri:0, instance:com.automation.qa.test.TestRunner@55f616cf]">&lt;&lt;tearDown1</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@515184459</td>   <td></td> </tr>
</table>
